*{
    margin:0;
    padding:0;
    font-size: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    max-width: 970px;
    margin: 0 auto;
    background-color: rgb(255, 244, 225);
}

aside, main, main button, main p{
    display: inline-block;
    vertical-align: top;
}
aside{
    padding: 20px;
    border-right: 2px solid orange;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
    aside a{
        font-size: 20px;
        display: block;
        padding:5px;
        color: rgb(102, 66, 1);
    }
main{
    height: 100vh;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
main *{
    font-size: 16px;
}
    section{
        border-bottom: 1px solid gray;
        padding: 10px 0;
        min-height: 100px;
    }

    main h1{
        vertical-align: top;
        font-size:32px;
        letter-spacing:0.03em;
        padding: 20px;
        color: rgb(242, 160, 8);
    }
    main h2{
        font-size: 24px;
    }
    h1, h2{
        text-align: center;
    }
    main div, main p{
        padding: 0 5px;
    }
    main span{
        display: none;
        background-color: yellow;
    }
    .bold-orange{
        color: rgb(221, 150, 19);
        font-weight: bold;
    }
@media only screen and (min-width:1024px){
    .col-lg-2{
        width: calc(100%/12*1.9);
    }
    .col-lg-3{
        width: calc(100%/12*3);
    }
    .col-lg-9{
        width: calc(100%/12*9);
    }
    .col-lg-10{
        width: calc(100%/12*10);
    }
    .col-lg-12{
        width: calc(100%/12*12);
    }
}